@model HRMBot.Models.UserInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacebookId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacebookOTP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookOTP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SkypeOTP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkypeOTP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlackId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlackId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SlackOTP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SlackOTP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebOTP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebOTP)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
